.about-container {
  margin: 4rem auto;
  text-align: start;
  width: 50%;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Align children vertically */
  align-items: center; /* Center items horizontally */
}
.about-container h1 {
  padding-bottom: 1rem;
}

.about-container p {
  padding-bottom: 2rem;
  width: 100%;
}
.about-container .email-section p{
  width:50%;
  margin: 0;
  
}
.about-container .phone-section p{
  
  width:70%;
  font-size: 20px;
  margin: 0;
  padding: 0 10px;
  
}
.reach-me {
  text-align: center;
  margin-top: 3rem;
}


.email-section,
.phone-section {
  display: flex;
  
  margin-top: 1rem; /* Adjust margin as needed */
}

.contact-info {
  display: flex;
  width:100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding-left: 20px;
}



.email-logo,
.phone-logo {
  width: 60px; /* Adjust size as needed */
  margin-right: 10px;
}




#pills-tab .nav-link {
  color: #121212; /* Text color */
  font-weight: 500; /* Font weight */
  font-size: 18px; /* Font size */
  padding: 10px 20px; /* Padding */
  border-radius: 20px; /* Border radius */
  margin: 0 10px; /* Margin */
}

#pills-tab .nav-link.active {
  background-color: #fcd116; /* Background color */
  color: #CE1126; /* Text color */
}

#pills-tab .first{
  font-weight: 500;

}

.tab-pane-content{
  font-weight: 500;
  font-size: 20px;
  
  margin-top: 20px;
}

