.about-container {
  margin: 4rem auto;
  text-align: start;
  width: 50%;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Align children vertically */
  align-items: center; /* Center items horizontally */
}
.about-container h1 {
  padding-bottom: 1rem;
}

.about-container p {
  padding-bottom: 2rem;
  width: 100%;
}


.reach-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin-top: 3rem;
}
.email-section,
.phone-section {
  display: flex;
  
  margin-top: 1rem; /* Adjust margin as needed */
}

.email-logo,
.phone-logo {
  width: 30px;
  height: 30;
  margin-right: 2rem;
  
}
