
.country-info {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 2rem;
}

.country-image {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
}
.country-image img {
  width: 500px;
  height: 300px;
  margin-right: 10px; 
  margin-bottom: 10px; 
  object-fit: cover;
  border-radius: 6px;
}

@media screen and (max-width: 850px) {
  .country-image img {
    width: 80%; 
    height: auto; 
    margin-right: 10; 
    margin-bottom: 10px; 
  }
}
