.NavBarItems {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 5px 15px -5px rgb(0, 0, 0, 0.25);
  width: 95%;
  height: 80px;
  border-radius: 15px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 9999;
}


.navbar-logo {
  color: #222;
  font-size: 1.5rem;

  cursor: pointer;
  text-decoration: none;
}
.navbar-logo:hover {
  color: #ce1126;

  border-radius: 5px;
  transition: all 0.3s ease;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  position: relative;
  top: 7.5px;
  
}



.nav-links {
  color: #222;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.7rem 1rem;
  white-space: nowrap;
  border-radius: 10px;
  transition: all 0.3s ease;
  
}
.nav-links i {
  padding-right: 10px;
}

.nav-links:hover {
  background-color: #fcd116;
  color: #ce1126;
  transition: all 0.3s ease;
  
}
.nav-links-mobile {
  display: none;
}

button {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  
}

button:hover {
  background-color: #fcd116;
  color: #ce1126;
}

.menu-icons {
  display: none;
}

/*/ Dropdown styles/*/




.NavBarItems .custom-dropdown-toggle {
  color: #222;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.7rem 1rem;
  white-space: nowrap;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.NavBarItems .custom-dropdown-toggle:hover {
  background-color: #fcd116;
  color: #ce1126;
}

.NavBarItems .custom-dropdown-toggle i {
  padding-right: 5px;
}

/* Custom styles for dropdown menu */
.NavBarItems .custom-dropdown-menu {
  background-color: #fff;
  border-radius: 10px;
  
  
}

.NavBarItems .dropdown-container{
background-color: #fff;
}




.NavBarItems .custom-dropdown-toggle{
  background-color: #fff;
  border-color: #fff;
}
.NavBarItems .custom-dropdown-toggle:hover{
  background-color: #fff;
  border-color: #fff;
}



.NavBarItems .custom-dropdown-menu a.dropdown-item {
  color: #222;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.7rem 1rem;
  white-space: nowrap;
  transition: all 0.3s ease;
  border-radius: 10px;
  
}

.NavBarItems .custom-dropdown-menu a.dropdown-item:hover {
  background-color: #fcd116;
  color: #ce1126;
}


/*/ small screen/*/

@media screen and (max-width: 850px) {
  .NavBarItems {
    z-index: 99;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -200%;
    opacity: 0;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    transition: 0.3s ease-in-out;
    border-radius: 13px;
  }
  .nav-menu.active {
    left: 0;
    opacity: 1;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
  .nav-links {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 2rem 0;
  }
  .nav-links:hover {
    background-color: #fcd116;
    color: #ce1126;
  }
  button {
    display: none;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: auto;
    border-radius: 10px;
    width: 80%;
    background-color: #fcd116;
    color: #ce1126;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
  }
  .menu-icons {
    display: block;
    cursor: pointer;
  }
  .menu-icons i {
    font-size: 1.2rem;
    color: #003893;
  }
}
